/*   Sitewide  */

body { 
	background: url(/static/img/bed-and-tech-faded.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #3f3f3f;
	font-family: 'Domine', serif;
	width: 100%;
}

.jumbotron {
	padding: 1rem;
	border-radius: 0;
	color: #3f3f3f;
}

footer {
	background-color: #79a3b1;
	color: #fcf8ec;
	position: fixed;
    bottom: 0;
    width: 100%;  /* required because fixed position */
}

.flash-msg {
	padding: 3rem;
}


/*   Menu page  */
.menu {
	text-align: center;
	font-size: large;
}

.line-wipe {
	color: #000000
}

#welcome {
	font-size: x-large;
}

#menu {
	font-size: x-large;
	color: #3f3f3f
}


/* Form page */
#mainform {
	padding: 3rem;
}
#log-entry {
	font-size: xx-large;
}

#sleep-wake-time {
	font-size: x-large;
}

#drag-scale {
	font-size: x-large;
}

#moods {
	font-size: x-large;
}

#symptoms {
	font-size: x-large;
}

#medications {
	font-size: x-large;
}

/* Login */
#login-form {
	padding: 3rem;
}

#login {
	font-size: x-large;
	color: #456268
}


/* User entries */
#historical-entries {
	font-size: medium;
	text-align: left;
	padding: 3rem;
	background-color: #d0e8f2;
}

#history-title {
	padding: 3rem;
	color: #3f3f3f;
	background-color: #fcf8ec;
	font-size: large;
}

ul {
    list-style-type: none;
}

.underline {
	text-decoration: underline;
	font-size: large;
}


/* Create account */
#create-account {
	color: #456268;
	font-size: x-large;
}
	
#create-account-details {
	color: #3f3f3f;
	padding: 3rem;
}

