{% extends 'base.html' %}

    {% block title %}Sleep Journal · Log Entry{% endblock %}

    {% block body %}
  <form action="/log_entry" method="POST" name="add_time_and_input_fields" id="mainform">
  
  <span style="background-color: #d0e8f2" id=log-entry>Log Entry</span>  
  <br>
  <br>
  <span style="background-color: #fcf8ec" id=sleep-wake-time>Enter Sleep & Wake Time</span> 
  <br>
  <br>
  <label for="sleeptime">Sleep Time:</label>
  
  <input type="datetime-local" id="sleeptime"
           name="sleeptime" value="2020-11-13T00:00"
           min="2018-01-01T00:00" max="2020-12-31T00:00">
  
  <br>
  <br>
  
  <label for="waketime">Wake Time:</label>
  
  <input type="datetime-local" id="waketime"
           name="waketime" value="2020-11-13T00:00"
           min="2018-01-01T00:00" max="2020-12-31T00:00">
    
  <br>
  <br>

  <span style="background-color: #fcf8ec" id=drag-scale>On the scale of 1 to 5, assign a number to each (1 being the lowest, 5 the highest):</span>

  <br>
  <br>

  <label for="sleep_quality">Sleep Quality</label>
  <input type="range" name="sleep_quality" id="sleep_quality" min="0" max="5" step="1" value="0">
  <output class="sleep_quality_output" for="sleep_quality"></output>
  
  <br>
  <br>

  <label for="stress">Stress Level</label>
  <input type="range" name="stress" id="stress" min="0" max="5" step="1" value="0">
  <output class="stress_output" for="stress"></output>

  <br>
  <br>

  <label for="energy">Energy Level</label>
  <input type="range" name="energy" id="energy" min="0" max="5" step="1" value="0">
  <output class="energy_output" for="energy"></output>

  <br>
  <br>

  <label for="productivity">Productivity Level</label>
  <input type="range" name="productivity" id="productivity" min="0" max="5" step="1" value="0">
  <output class="productivity_output" for="productivity"></output>

  <br>
  <br>

  <label for="exercise">Exercise Amount</label>
  <input type="range" name="exercise" id="exercise" min="0" max="5" step="1" value="0">
  <output class="exercise_output" for="exercise"></output>

  <br>
  <br>

  <label for="alcoholic_units">Alcoholic Units </label>
  <input type="range" name="alcoholic_units" id="alcoholic_units" min="0" max="5" step="1" value="0">
  <output class="alcoholic_units_output" for="alcoholic_units"></output>

  <br>
  <br>

  <span style="background-color: #fcf8ec" id=moods>Moods</span>
    <br>
    <br>
    <input type="checkbox" name="mood" value="Happy">
    <label>Happy</label>
    <input type="checkbox" name="mood" value="Calm">
    <label>Calm</label>
    <br>
    <input type="checkbox" name="mood" value="Content">
    <label>Content</label>
    <input type="checkbox" name="mood" value="Excited">
    <label>Excited</label>
    <br>
    <input type="checkbox" name="mood" value="Anxious">
    <label>Anxious</label>
    <input type="checkbox" name="mood" value="Depressed">
    <label>Depressed</label>
    <br>
    <input type="checkbox" name="mood" value="Irritated">
    <label>Irritated</label>
    <input type="checkbox" name="mood" value="Angry">
    <label>Angry</label>
    <br>
    <input type="checkbox" name="mood" value="Self critical">
    <label>Self critical</label>
    <input type="checkbox" name="mood" value="Confused">
    <label>Confused</label>

  <br>
  <br>

  <span style="background-color: #fcf8ec" id=moods>Symptoms</span>
    <br>
    <br>
    <input type="checkbox" name="symptom" value="None">
    <label>None</label>
    <input type="checkbox" name="symptom" value="Fatigue">
    <label>Fatigue</label>
    <br>
    <input type="checkbox" name="symptom" value="Nausea">
    <label>Nausea</label>
    <input type="checkbox" name="symptom" value="Pain">
    <label>Pain</label>
    <br>
    <input type="checkbox" name="symptom" value="Headache">
    <label>Headache</label>
    <input type="checkbox" name="symptom" value="Migrane">
    <label>Migrane</label>
    <br>
    <input type="checkbox" name="symptom" value="Cold/Flu">
    <label>Cold/Flu</label>
    <input type="checkbox" name="symptom" value="Allergies">
    <label>Allergies</label>
    <br>
    <input type="checkbox" name="symptom" value="Heartburn">
    <label>Heartburn</label>
    <input type="checkbox" name="symptom" value="Constipation">
    <label>Constipation</label>
    <br>
    <input type="checkbox" name="symptom" value="Diarrhea">
    <label>Diarrhea</label>
    <input type="checkbox" name="symptom" value="Bloating">
    <label>Bloating</label>

  <br>
  <br>

  <span style="background-color: #fcf8ec" id=moods>Medications</span>
    <br>
    <br>
    <input type="checkbox" name="medication" value="None">
    <label>None</label>
    <input type="checkbox" name="medication" value="Tylenol">
    <label>Tylenol</label>
    <br>
    <input type="checkbox" name="medication" value="Ibuprofen">
    <label>Ibuprofen</label>
    <input type="checkbox" name="medication" value="Decongestant">
    <label>Decongestant</label>
    <br>
    <input type="checkbox" name="medication" value="Cough medicine">
    <label>Cough medicine</label>
    <input type="checkbox" name="medication" value="Antihistamine">
    <label>Antihistamine</label>
    <br>
    <input type="checkbox" name="medication" value="Antacid">
    <label>Antacid</label>
    <input type="checkbox" name="medication" value="Pepto bismol">
    <label>Pepto Bismol</label>

    <br>
    <p>
      <br>
        <input type="submit">
    </p>

  </form>
    {% endblock %}