{% extends 'base.html' %}
{% block title %}Enter Sleep Times{% endblock %}

{% block body %}
<form action="/enter_entry" method="POST" name="add_sleep_wake_time"></form>
  
  <h2>Enter Sleep & Wake Time</h2>

  <label for="sleep-time">Sleep Time:</label>

  <input type="datetime-local" id="sleep-time"
         name="sleep-time" value="2020-11-13T00:00"
         min="2018-01-01T00:00" max="2020-12-31T00:00">

  <br>
  <br>

  <label for="wake-time">Wake Time:</label>

  <input type="datetime-local" id="wake-time"
         name="wake-time" value="2020-11-13T00:00"
         min="2018-01-01T00:00" max="2020-12-31T00:00">

    <p>
      <input type="submit">
    </p>

  </form>

  <!-- choose date and time for sleep time and wake time

  include a calendar for reference

  submit / save to db -->

{% endblock %}