{% extends 'base.html' %}
{% block title %}Sleep Journal Home{% endblock %}

{% block body %}
  <h1>Welcome to Sleep Journal!</h1>

  <h2>What would you like to do?</h2>
  <ul>
    <li><a href="/todays-entry">Log today's sleep time and entry</a></li>
    <li><a href="/calendar">Select a date</a></li>
    <li><a href="/user_entries">View sleep history</a></li>
    <li><a href="/sleep-insights">View sleep insights</a></li>
  </ul>

  <h2>Create an Account</h2>
  <form action="/users" method="POST">
    <p>
      Full Name <input type="text" name="full_name">
    </p>

    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
{% endblock %}