{% extends 'base.html' %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="css/style.css">
    {% block head %}{% endblock %}
  </head>
  <body>
    <script src="js/script.js"></script>
    {% for msg in get_flashed_messages() %}
        <p class="flash-msg">
            {{ msg }}
        </p>
    {% endfor %}

    {% block body %}
  <form action="/journal_entry" method="POST" name="add_nine_input_fields"></form>
  <h2>Log Entry</h2>

  <label for="sleep_quality">Sleep Quality</label>
  <input type="range" name="sleep_quality" id="sleep_quality" min="0" max="5" step="1" value="0">
  <output class="sleep_quality_output" for="sleep_quality"></output>

  <br>
  <br>

  <label for="stress">Stress Level</label>
  <input type="range" name="stress" id="stress" min="0" max="5" step="1" value="0">
  <output class="stress_output" for="stress"></output>

  <br>
  <br>

  <label for="energy">Energy Level</label>
  <input type="range" name="energy" id="energy" min="0" max="5" step="1" value="0">
  <output class="energy_output" for="energy"></output>

  <br>
  <br>

  <label for="productivity">Productivity Level</label>
  <input type="range" name="productivity" id="productivity" min="0" max="5" step="1" value="0">
  <output class="productivity_output" for="productivity"></output>

  <br>
  <br>

  <label for="exercise">Exercise Amount</label>
  <input type="range" name="exercise" id="exercise" min="0" max="5" step="1" value="0">
  <output class="exercise_output" for="exercise"></output>

  <br>
  <br>

  <label for="alcoholic_units">Alcoholic Units </label>
  <input type="range" name="alcoholic_units" id="alcoholic_units" min="0" max="5" step="1" value="0">
  <output class="alcoholic_units_output" for="alcoholic_units"></output>

  <br>
  <br>
  <br>

    Moods
    <br>
    <br>
    <input type="checkbox" name="mood" value="happy">
    <label>Happy</label>
    <input type="checkbox" name="mood" value="calm">
    <label>Calm</label>
    <br>
    <input type="checkbox" name="mood" value="content">
    <label>Content</label>
    <input type="checkbox" name="mood" value="excited">
    <label>Excited</label>
    <br>
    <input type="checkbox" name="mood" value="anxious">
    <label>Anxious</label>
    <input type="checkbox" name="mood" value="depressed">
    <label>Depressed</label>
    <br>
    <input type="checkbox" name="mood" value="irritated">
    <label>Irritated</label>
    <input type="checkbox" name="mood" value="angry">
    <label>Angry</label>
    <br>
    <input type="checkbox" name="mood" value="self critical">
    <label>Self critical</label>
    <input type="checkbox" name="mood" value="confused">
    <label>Confused</label>
  </form>

  <br>
  <br>
  <br>

    Symptoms
    <br>
    <br>
    <input type="checkbox" name="symptom" value="none">
    <label>None</label>
    <input type="checkbox" name="symptom" value="fatigue">
    <label>Fatigue</label>
    <br>
    <input type="checkbox" name="symptom" value="nausea">
    <label>Nausea</label>
    <input type="checkbox" name="symptom" value="pain">
    <label>Pain</label>
    <br>
    <input type="checkbox" name="symptom" value="headache">
    <label>Headache</label>
    <input type="checkbox" name="symptom" value="migrane">
    <label>Migrane</label>
    <br>
    <input type="checkbox" name="symptom" value="cold/flu">
    <label>Cold/Flu</label>
    <input type="checkbox" name="symptom" value="allergies">
    <label>Allergies</label>
    <br>
    <input type="checkbox" name="symptom" value="heartburn">
    <label>Heartburn</label>
    <input type="checkbox" name="symptom" value="constipation">
    <label>Constipation</label>
    <br>
    <input type="checkbox" name="symptom" value="diarrhea">
    <label>Diarrhea</label>
    <input type="checkbox" name="symptom" value="Bloating">
    <label>bloating</label>
  </form>

  <br>
  <br>
  <br>

    Medications
    <br>
    <br>
    <input type="checkbox" name="medication" value="none">
    <label>None</label>
    <input type="checkbox" name="medication" value="tylenol">
    <label>Tylenol</label>
    <br>
    <input type="checkbox" name="medication" value="ibuprofen">
    <label>Ibuprofen</label>
    <input type="checkbox" name="medication" value="decongestant">
    <label>Decongestant</label>
    <br>
    <input type="checkbox" name="medication" value="cough_medicine">
    <label>Cough medicine</label>
    <input type="checkbox" name="medication" value="antihistamine">
    <label>Antihistamine</label>
    <br>
    <input type="checkbox" name="medication" value="antacid">
    <label>Antacid</label>
    <input type="checkbox" name="medication" value="pepto_bismol">
    <label>Pepto Bismol</label>
  </form>


    {% endblock %}
    </body>
</html>