{% extends 'base.html' %}
{% block title %}Sleep Journal · Menu{% endblock %}

{% block body %}

      <!-- Jumbotron -->
      <div class="container-fluid">
        <div class="row jumbotron">
          <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p class="lead">Sleep Journal is built for those who are looking to improve their sleep. 
              It is a web application that facilitates personal change for users to achieve better sleep.</p>
          </div>
        </div>
        </div>
      
      <!-- Welcome section -->
      <div class="container-fluid padding">
      <div class="row welcome text-center">
        <div class="col-12">
          <!-- <h2>Welcome to Sleep Journal!</h2> -->
          <span style="background-color: #d0e8f2" id=welcome>Welcome to Sleep Journal!</span>
        </div>
        <hr>
        <div class="col-12">
          <p class="lead">Because the quality of our sleep affects the quality of our life, sleep is worth monitoring 
            and improving.
          </p>
        </div>
      </div> 
      </div>
    
<br>
<br>
<div class="menu">  
  <span style="background-color: #fcf8ec" id=menu>Menu</span>
  <br>
    <a class="line-wipe" href="/log_entry">Log your sleep time and entry</a>
    <br>
    <a class="line-wipe" href="/user_entries">View sleep history</a>
    <br>
    <a class="line-wipe" href="/sleep_insights">View sleep insights</a>
</div>  


{% endblock %}

{% block after_body %} {% endblock %}