{% extends 'base.html' %}
{% block title %}Sleep Journal · Menu{% endblock %}

{% block body %}

      <!-- Jumbotron -->
      <div class="container-fluid">
        <div class="row jumbotron">
          <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p class="lead">Sleep Journal is built for those who are looking to improve their sleep. 
              It is a web application that facilitates personal change for users to achieve better sleep.</p>
          </div>
        </div>
        </div>
      
      <!-- Welcome section -->
      <div class="container-fluid padding">
      <div class="row welcome text-center">
        <div class="col-12">
          <h1 class="display-4">Welcome to Sleep Journal!</h1>
        </div>
        <hr>
        <div class="col-12">
          <p class="lead">Because the quality of our sleep affects the quality of our life, sleep is worth monitoring 
            and improving.
          </p>
        </div>
      </div> 
      </div>
    


  <h2>Menu</h2>
  <ul>
    <li><a href="/log_entry">Log your sleep time and entry</a></li>
    <!-- <li><a href="/calendar">Select a date</a></li> -->
    <li><a href="/user_entries">View sleep history</a></li>
    <li><a href="/sleep_insights">View sleep insights</a></li>
  </ul>

{% endblock %}