{% extends 'base.html' %}
{% block title %}Sleep Journal · Menu{% endblock %}

{% block body %}
  <h1>Welcome to Sleep Journal!</h1>

      <!-- Jumbotron -->
      <div class="container-fluid">
        <div class="row jumbotron">
          <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p class="lead">Sleep Journal is built for those who are looking to improve their sleep. It is an app that facilitates personal change for users to achieve better sleep.</p>
          </div>
        </div>
        </div>

  <h2>What would you like to do?</h2>
  <ul>
    <li><a href="/log_entry">Log your sleep time and entry</a></li>
    <!-- <li><a href="/calendar">Select a date</a></li> -->
    <li><a href="/user_entries">View sleep history</a></li>
    <li><a href="/sleep_insights">View sleep insights</a></li>
  </ul>

{% endblock %}